<br>
<p style="text-align: left;margin-left: 300px; font-size: 20px; font-family: 'Times New Roman', Times, serif">
   Currently, Book My Show is India’s largest entertainment ticketing website.<br>
   Book My Show pivoted its model as cloud-based events, movies, sports and plays booking platform.<br>
   It operates in 5 countries with more than 30 million customers.  In the sixteen years of his journey, <br>
   the company has seen and faced many ups and downs. <br> <br>
   
   From INR 25,000 as capital to INR 391 crore revenue in FY2018,<br>
   from Bigtree Entertainment Pvt. Ltd to Book My Show.com, from Dot Com crash to Global Financial Crisis.<br>
   However, Book My Show has managed all and emerged winners.<br>
</p>

<br> <br>

<div style="text-align: center;font-family: Comic Sans MS ; font-size: 18px">
For queries and more details;<br>
<b>Contact:</b> admin@bookmyshow.com 
</div>