<br>

<p style="color:black;width: 400px;font-family: Comic Sans MS; border-bottom-style: solid;margin-left: 500px;
font-size: 20px;text-align: center;padding-bottom: 10px">Fill out the form to Sign Up !!</p>
<br>



<form style="margin-left: 350px ; font-size: 18px ; " novalidate (ngSubmit)="save(regForm)" #regForm="ngForm">

<div class="form-group row mb-2" style=" padding: 10px ">

          <!--username-->

        <label class="col-md-2 col-form-label"
               for="firstNameId">Your UserName</label>
        <div class="col-md-6">
            <input type="text" required
                    class="form-control"
                    id="UserNameId"
                    minlength="3"
                    name="UserName"
                    
                    [(ngModel)]=user.UserName
                    #UserNameVar="ngModel"
                    [ngClass]="{'is-invalid':(UserNameVar.touched||UserNameVar.dirty)&& !UserNameVar.valid }  " /> 
                    <span class="invalid-feedback">
                            <span *ngIf="UserNameVar.errors?.required">
                              Please enter your first name.
                            </span>
                            <span *ngIf="UserNameVar.errors?.minlength">
                              The first name must be longer than 3 characters.
                            </span>
                          </span>

        </div>

</div>
            <!--password-->

        <div class="form-group row mb-2" style=" padding: 10px ">

            <label class="col-md-2 col-form-label"
                for="passwordId">Your Password</label>

                      <div class="col-md-6">
                              <input class="form-control"
                                     id="passwordId" 
                                     type="text"
                                     placeholder="Set Your Password (required)"
                                     required
                                     maxlength="25"
                                     minlength="8"
                                     [(ngModel)]="user.password"
                                     name="password"
                                     #passwordVar="ngModel"
                                     [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }" />

                              <span class="invalid-feedback">
                                <span *ngIf="passwordVar.errors?.required">
                                  Please enter your Password.
                                </span>
                                <span *ngIf="passwordVar.errors?.minlength">
                                  The last name must be atleast 8 characters.
                                </span>
                              </span>
                            </div>
                          </div>
                    
      <div class="form-group row" style=" padding: 10px ">
    
        <label for="gender" class="col-sm-2 col-form-label">Gender</label>
    
        <div class="col-sm-6" >
        <div class="form-check" >
            <input class="form-check-input" 
                    type="radio" 
                    name="gender" 
                    id="male" 
                    value="option1" 
                    checked
                    [(ngModel)] = user.gender
                    #genderVar = "ngModel"
                    [ngClass]="{'is-invalid':(genderVar.touched||genderVar.dirty)&& !genderVar.valid } "
                    >
            <label class="form-check-label" for="first">
              Male
            </label>
          </div> 

          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female" value="option2">
            <label class="form-check-label" for="second">
              Female
            </label>
          </div> 
          
          </div>

    </div>

     <div class="form-group row mb-2" style=" padding: 10px ">
                            <label class="col-md-2 col-form-label"
                                   for="emailId">Enter Your Email</label>
                            <div class="col-md-6">
                              <input class="form-control"
                                     id="emailId"
                                     type="email"
                                     placeholder="Enter your Email address"
                                     required
                                     email
                                     [(ngModel)]="user.email"
                                     name="email"
                                     #emailVar="ngModel"
                                     [ngClass]="{'is-invalid': (emailVar.touched || emailVar.dirty) && !emailVar.valid }" />
                              <span class="invalid-feedback">
                                <span *ngIf="emailVar.errors?.required">
                                  Please enter your email address.
                                </span>
                                <span *ngIf="emailVar.errors?.email">
                                  Please enter a valid email address.
                                </span>
               </span>
          </div>
     </div>

     <div class="form-group row mb-2" style=" padding: 10px ">
                            <label class="col-md-2 col-form-label"
                                   for="numberId">Your Mobile Number</label>
                            <div class="col-md-6">
                              <input class="form-control"
                                     id="numberId"
                                     type="text"
                                     placeholder="Enter Your Mobile Number"
                                     required
                                     minlength="10"
                                     [(ngModel)]="user.mobile"
                                     name="number"
                                     #numberVar="ngModel"
                                     [ngClass]="{'is-invalid': (numberVar.touched || numberVar.dirty) && !numberVar.valid }" />
                              <span class="invalid-feedback">
                                <span *ngIf="numberVar.errors?.required">
                                  Please enter your Mobile Number.
                                </span>
                                <span *ngIf="numberVar.errors?.minlength">
                                  Please enter a valid Mobile Number.
                                </span>
               </span>
          </div>
     </div>


    <div class="form-group row mb-2">
                                <div class="offset-md-2 col-md-4">
                                  <button class="btn btn-primary mr-3"
                                          type="submit"
                                          style="width:80px"
                                          [title]="regForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                                          [disabled]="!regForm.valid">
                                    Save
                                  </button>
                                </div>
                                </div>
                           
     
</form>



<!--<form style="margin-left: 400px ; " novalidate (ngSubmit)="save(regForm)" #regForm="ngForm">

<div class="form-group row mb-2">

        <label class="col-md-2 col-form-label"
               for="usertNameId">Your Name</label>
        <div class="col-md-4">
            <input type="text" required
                    class="form-control"
                    id="firstNameId"
                    minlength="3"
                    name="userName"
                    [(ngModel)] = user.userName
                    #userNameVar="ngModel"
                    placeholder="Set Your UserName"
                    [ngClass]="{'is-invalid':(userNameVar.touched||userNameVar.dirty)&& !userNameVar.valid }  " /> 

                    <span class="invalid-feedback">
                            <span *ngIf="firstNameVar.errors?.required">
                              Please enter your first name.
                            </span>
                            <span *ngIf="firstNameVar.errors?.minlength">
                              The first name must be longer than 3 characters.
                            </span>
                          </span>
              </div>
</div>
             
 <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="firstNameId">Your Password</label>
        <div class="col-md-4">
            <input type="text" required
                    class="form-control"
                    id="firstNameId"
                    minlength="3"
                    name="firstName"
                    placeholder="Set Your Password"
                    [(ngModel)] = user.firstName
                    #firstNamVar="ngModel"
                    [ngClass]="{'is-invalid':(firstNamVar.touched||firstNamVar.dirty)&& !firstNamVar.valid }  " /> 

                    <span class="invalid-feedback">
                            <span *ngIf="firstNamVar.errors?.required">
                              Please enter your password.
                            </span>
                            <span *ngIf="firstNamVar.errors?.minlength">
                              The password must be longer than 8 characters.
                            </span>
                          </span>
              </div>
                    

                          <div class="form-group row mb-2">
                                <div class="offset-md-2 col-md-4">
                                  <button class="btn btn-primary mr-3"
                                          type="submit"
                                          style="width:80px"
                                          [title]="regForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                                          [disabled]="!regForm.valid">
                                    Save
                                  </button>
                                </div>
                                </div>
                            
                        </div>
                        
     
</form>
-->

<!--<form style="margin-left: 400px ; " novalidate (ngSubmit)="save(regForm)" #regForm = "ngForm" >

        <div class="form-group row">
          <label for="usernameId" class="col-sm-2 col-form-label">Your Name</label>
          <div class="col-sm-6">
            <input type="text" 
                  required
                  class="form-control" 
                  id="usernameId"
                  minlength="6"
                  name="username"
                  [(ngModel)] = user.username
                  #usernameVar = "ngModel"
                  placeholder="Enter Your Name"
                  [ngClass]="{'is-invalid':(userNamevar.touched||userNamevar.dirty) && !userNamevar.valid } "/>

                  <span class="invalid-feedback">
                        <span *ngIf="userNamevar.errors.required">
                          Please enter your first name.
                        </span>
                        <span *ngIf="userNamevar.errors.minlength">
                          The first name must be longer than 3 characters.
                        </span>
                      </span>

          </div>
        </div>
    
        <div class="form-group row">
          
          <label for="password" class="col-sm-2 col-form-label">Your Name</label>
          <div class="col-sm-6">
            <input type="text" 
                  class="form-control" 
                  id="password" 
                  maxlength="8"
                  placeholder="Set your password"
                  required
                  [(ngModel)] = user.password
                  #passwordVar = "ngModel"
                  [ngClass]="{'is-invalid':(passwordVar.touched||passwordVar.dirty)&& !passwordVar.valid } "
                  />

                  <span class="invalid-feedback">
                        <span *ngIf="passwordVar.errors?.required">
                          Please enter your password.
                        </span>
                        <span *ngIf="passwordVar.errors?.minlength">
                          The Password must be longer than 8 characters.
                        </span>
                      </span>

          </div>
        </div>

    <div class="form-group row" >
    
        <label for="gender" class="col-sm-2 col-form-label">Gender</label>
    
        <div class="col-sm-6" >
        <div class="form-check" >
            <input class="form-check-input" 
                    type="radio" 
                    name="medium" 
                    id="male" 
                    value="option1" 
                    checked
                    [(ngModel)] = user.gender
                    #genderVar = "ngModel"
                    [ngClass]="{'is-invalid':(genderVar.touched||genderVar.dirty)&& !genderVar.valid } "
                    >
            <label class="form-check-label" for="first">
              Male
            </label>
          </div> 

          <div class="form-check">
            <input class="form-check-input" type="radio" name="medium" id="female" value="option2">
            <label class="form-check-label" for="second">
              Female
            </label>
          </div> 
          
          </div>
    </div>
    
    <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Your Mail Id</label>
          <div class="col-sm-6">
            <input type="email" 
                  class="form-control" 
                  id="mail"
                  placeholder="Enter Your Mail Id"
                  [(ngModel)] = user.email
                  #emailvar = "ngModel"
                  [ngClass]="{'is-invalid':(emailvar.touched||emailvar.dirty)&& !emailvar.valid } "
                  >

                  <span class="invalid-feedback">
                        <span *ngIf="emailvar.errors?.required">
                          Please enter your Mail Id.
                        </span>
                      </span>
          </div>
        </div>
        
        <div class="form-group row">
                <label for="mobile" class="col-sm-2 col-form-label">Your Mobile Number</label>
                <div class="col-sm-6">
                  <input type="mobile" 
                        class="form-control" 
                        id="mobile"
                        placeholder="Enter Your Mobile Number"
                        maxlength="10"
                        [(ngModel)] = user.mobile
                        #mobilevar = "ngModel"
                        [ngClass]="{'is-invalid':(mobilevar.touched||mobilevar.dirty)&& !mobilevar.valid } "
                        />

                        <span class="invalid-feedback">
                                <span *ngIf="mobilevar.errors?.required">
                                  Please enter your Mobile Number.
                                </span>
                                <span *ngIf="mobilevar.errors?.minlength">
                                  The Mobile Number must be longer than 10 characters.
                                </span>
                              </span>

                        
                </div>
              </div>

        <br> <br>
    <div class="form-group row">
        <div class="offset-md-2 col-md-2">
          <input  class="btn btn-primary mr-3"
                  type="submit"
                  style="width:100px"
                  value="Sign Up" 
                  [title]="regForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!regForm.valid">
             
        </div>
    
    
        <button class='btn btn-outline-secondary'
                (click)='onBack()'
                style='width:80px'>
         Back
        </button>
      </div>
    </form>-->



