<head>
    
</head>

<body>
    
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="./../assets/Bookmyshow.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./../assets/avenger.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./../assets/bahubali.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<br>

<table *ngIf= " trendingMovies.length > 0 "  >

  <td  *ngFor = "let tem of trendingMovies" >
    
<div class="card" style="width: 17rem;">
<img [src]='tem.imageUrl' class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title"> {{ tem.movieName }} </h5>
  <p class="card-text"><strong> {{ tem.movieText }}</strong></p>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><b>Cast :</b> {{ tem.actor }}</li>
  <li class="list-group-item"><b>Genres :</b>{{ tem.genre }}</li>
  <li class="list-group-item"><b>Ratings :</b>{{ tem.rating }}</li>
</ul>
<div class="card-body">
  <a [routerLink]="['/book', tem.movieName ]" class="card-link">Book Now</a>
  <a [routerLink]="['/wishlist' , tem.movieName ]" class="card-link">Add to Wishlist</a>
</div>
</div>
      </td>
</table>

<!-- 
<table>
    <tr>
        <td>
<div class="card" style="width: 17rem;">
  <img src="./../assets/avengercard.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Avengers Endgame </h5>
    <p class="card-text"><strong>Thanos Killed or not ??</strong></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Cast :</b> Captain America</li>
    <li class="list-group-item"><b>Genres :</b> Action</li>
    <li class="list-group-item"><b>Ratings :</b> 4/5</li>
  </ul>
  <div class="card-body">
    <a [routerLink]="/book" class="card-link">Book Now</a>
    <a href="#" class="card-link">Add to Wishlist</a>
  </div>
</div>
        </td>

        <td>
<div class="card" style="width: 17rem;">
  <img src="./../assets/bahubalicard.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bahubali 2 </h5>
    <p class="card-text"><strong> Kattapa killed Bahubali ?? </strong> </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Cast :</b> Prabhas , Rana</li>
    <li class="list-group-item"><b>Genres :</b> Action </li>
    <li class="list-group-item"><b>Ratings :</b> 4.5/5</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Book Now</a>
    <a href="#" class="card-link">Add to Wishlist</a>
  </div>
</div>

        </td>

        <td>

<div class="card" style="width: 17rem;">
  <img src="./../assets/petta.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Petta</h5>
    <p class="card-text"><strong> Vintage thalaivar is back !! </strong></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Cast :</b> Rajinikanth</li>
    <li class="list-group-item"><b>Genres :</b> Action </li>
    <li class="list-group-item"><b>Ratings :</b> 3/5</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Book Now</a>
    <a href="#" class="card-link">Add to Wishlist</a>
  </div>
</div>

        </td>



  <td>
<div class="card" style="width: 17rem;">
  <img src="./../assets/lionkingcard2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lion king </h5>
    <p class="card-text"><strong>Time to lead !!</strong></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Cast :</b> Sidharth , Aravindhsamy</li>
    <li class="list-group-item"><b>Genres :</b> Animation </li>
    <li class="list-group-item"><b>Ratings :</b> 4/5</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Book Now</a>
    <a href="#" class="card-link">Add to Wishlist</a>
  </div>
</div>
        </td>

        <td>
<div class="card" style="width: 17rem;">
  <img src="./../assets/nkpcard.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nerkonda parvai</h5>
    <p class="card-text"><strong>Its thala time !!</strong></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Cast :</b> Ajith Kumar </li>
    <li class="list-group-item"><b>Genres :</b> Drama </li>
    <li class="list-group-item"><b>Ratings :</b> 4/5</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Book Now</a>
    <a href="#" class="card-link">Add to Wishlist</a>
  </div>
</div>
    </td>

    </tr>
</table> -->

</body>