<form (ngSubmit)="submit()">

    <div class="container">

        <div class="form-row" *ngFor="let obj of studentArray;let i=index">

            <div class="form-group col-md-4">
            <label ><b>Name</b></label>
            <input type="email" class="form-control" name="name{{i}}" placeholder="Enter Name" [(ngModel)]="obj.name">
            </div>

            <div class="form-group col-md-2">
            <label><b>Gender</b></label>
                    <select class="form-control" name="gender{{i}}" [(ngModel)]="obj.gender" >
                        <option value="boy" selected="selected">BOY</option>
                        <option value="girl" >GIRL</option>
                    </select>
            </div>

            <div class="form-group col-md-2">
                <label><b>Age</b></label>
                <input type="text" class="form-control" name="age{{i}}" placeholder="Enter Age" [(ngModel)]="obj.age" >
            </div>

            <div class="form-group col-md-2" *ngIf="i!=0">
                <br>
                <span class="btn btn-danger" (click)="removeStudent(i)">-</span>
            </div>

        </div>

        <span class="btn btn-success mr-2" (click)="addStudent()">+</span>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>

</form>
