<br>
<div style="text-align: center">
<h2><strong> Your Ticket has Booked Successfully !!</strong></h2>
<div style="font-family: calibri">
<h3>You'll get a confirmation to your Mobile Number.</h3>
<h4 style=" font-family: mistral; color: green"> Keep Booking !! Keep Enjoying </h4>
</div>
</div>
<br>
<div style="margin-left: 650px">

    <button  class='btn btn-primary'
                (click)='onBack()'
                style='width:80px'>
                Home
            </button>
    </div>
