<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div><p style ="color:orangered">Edvantage<span style ="color :grey">point</span>
    <sup style ="font-size :10px ; color :black">tm</sup></p>
  </div>
      
  <div class="collapse navbar-collapse" style ="margin-left : 70%" id="navbarNavAltMarkup">
    
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">about</a>
      <a class="nav-item nav-link" href="#">contactus</a>
    
    </div>
<div style="margin-right: 5px" class="btn btn-default">
<a class="nav-link" [routerLink]="['/signup']"><span class="fa fa-user-circle-o" ></span></a>
</div>
  
  </nav>
<router-outlet></router-outlet>