
<form>
        <div class="form-group col-md-6">
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">prefix</label>
            <div class="col-sm-10 ">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0  col-md-2 ">
                    <option selected>Mr</option>
                    <option value="1">Ms</option>
                    <option value="2">Mrs</option>
                </select><br><br>
            </div>

            <label  class="col-sm-2 col-form-label" >FirstName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control " placeholder="FirstName"><br>
            </div>

            <label class="col-sm-2 col-form-label">LasttName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  placeholder="LasttName"><br>
            </div>

            <label class="col-sm-2 col-form-label">E-mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control"  placeholder="Mail-id"><br>
            </div>

            <label class="col-sm-2 col-form-label">Mobile1</label>
            <div class="col-sm-10">
                <input type="mobile" class="form-control"  placeholder="Mobile"><br>
            </div>

            <label class="col-sm-2 col-form-label">Mobile2</label>
            <div class="col-sm-10">
                <input type="mobile" class="form-control" placeholder="Mobile"><br>
            </div>

            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="textArea"  col="10" row ="5" class="form-control" placeholder="Address line1"><br>
            </div>
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="textArea" col="10" row="5" class="form-control" placeholder="Address line2"><br>
            </div>
            
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="textArea" col="10" row="5" class="form-control" placeholder="Address line3"><br>
            </div>
<!--
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">schools</label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0  col-md-5">
            <option selected>Deeksha</option>
            <option value="1">New Horizon</option>
            <option value="2">PSBB</option>
        </select>
        </div>
    <div class="form-group col-md-4">
        <label for="inputEmail4">schools</label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0  col-md-5">
            <option selected>Deeksha</option>
            <option value="1">New Horizon</option>
            <option value="2">PSBB</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="inputEmail4">schools</label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0  col-md-5">
            <option selected>Deeksha</option>
            <option value="1">New Horizon</option>
            <option value="2">PSBB</option>
        </select>
    </div>
</div>-->

<div class ="form-group">
    <tr>
      <td> <label style="margin-left: 10px">schools</label></td>
     <td>  <select class="custom-select mb-2 mr-sm-2 mb-sm-0  col-md-10" style ="margin-left :75px">
            <option selected>Deeksha</option>
            <option value="1">New Horizon</option>
            <option value="2">PSBB</option>
        </select></td>

    <td>
        <label style ="margin-left:50px">country</label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0  col-md-4" style ="margin-left :10px">
            <option selected>India</option>
            <option value="1">UK</option>
            <option value="2">US</option>
        </select></td>
    
      <td>  <label style ="margin-left:10px" >state</label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0  col-md-7" style ="margin-left :10px">
            <option selected>Tamilnadu</option>
            <option value="1">Karnataka</option>
            <option value="2">hydrabed</option>
        </select></td>
 </tr></div><br><br>
 <table>
   <tr><h6>Additional Details</h6></tr>
  <tr><td> <label class="col-sm-2 col-form-label ">Qualification</label></td>
       <td><input type="text"  class="form-control"></td>
  </tr>

<tr><td><label class="col-sm-2 col-form-label">Gender</label></td>
<td><input type="radio" class="mr-2" name="Gender">Male
<input type="radio" name="Gender">Female</td>
</tr>

<tr><td><label class="col-sm-2 col-form-label">D.O.B</label></td>
<td><input type="date" class="form-control"></td></tr>

<tr>
  <td>  <label class="col-sm-6 col-form-label">Note</label></td>
   <td> <textarea rows="3" cols="60" idd ="note" ></textarea></td>
</tr>

<tr>
<td> <label class="col-sm-6 col-form-label">Suggestion box</label></td>
<td> <textarea rows="3" cols="30" id="suggess"></textarea></td>
</tr>

<tr>
  <td> <label class="col-sm-2 col-form-label">SalaryRange</label></td>
   <td> <input type="range" class="form-control"></td>
</tr></table>
</div>
</div>